@import "./quiz.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
  background-color:#fff;
}

.header {
  background-color: aqua;
  position: fixed;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(41, 37, 37);
  min-height: 10px;

  h1 {
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
  }

  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

    li {
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: rgb(208, 193, 193);
      border-radius: 20px;
      width: 50%;
      text-align: center;
      margin-right: 10px;
    }

    a {
      color: white;

      &:hover {
        color: black;

      }
    }

  }
}

.container {
  padding-top: 55px;
}

.point {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  background-color: blueviolet;
  border: 1px solid aqua;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.3;
  pointer-events: none;
  
  
}